.main_wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
}

.add_limit_btn {
  align-self: center;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid black;
}

.rules_list {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.button_group {
  padding-bottom: 15px;
}

.button {
  padding: 10px;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
}

.button:hover {
  background-color: lightblue;
}

.button_delete {
  background-color: red;
}
